@font-face {
  font-family: "Joker";
  font-display: swap;
  src: url("../fonts/Gothic-Joker.woff") format("woff"), url("../fonts/Gothic-Joker.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #262626;
  color: #fff;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1310px;
  padding: 0 50px;
  margin: 0 auto;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.js-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.al-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.al-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  border: none;
  background: none;
}

/* ROOT end */

.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  background: #262626;
}

.loader .l_main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 172px;
  height: 128px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.l_square {
  position: relative;
}

.l_square:nth-child(1) {
  margin-left: 0px;
}

.l_square:nth-child(2) {
  margin-left: 44px;
}

.l_square:nth-child(3) {
  margin-left: 88px;
}

.l_square:nth-child(4) {
  margin-left: 132px;
}

.l_square span {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 36px;
  width: 36px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.l_square span:nth-child(1) {
  top: 0px;
}

.l_square span:nth-child(2) {
  top: 44px;
}

.l_square span:nth-child(3) {
  top: 88px;
}

.l_square:nth-child(1) span {
  -webkit-animation: animsquare1 2s infinite ease-in;
  animation: animsquare1 2s infinite ease-in;
}

.l_square:nth-child(2) span {
  -webkit-animation: animsquare2 2s infinite ease-in;
  animation: animsquare2 2s infinite ease-in;
}

.l_square:nth-child(3) span {
  -webkit-animation: animsquare3 2s infinite ease-in;
  animation: animsquare3 2s infinite ease-in;
}

.l_square:nth-child(4) span {
  -webkit-animation: animsquare4 2s infinite ease-in;
  animation: animsquare4 2s infinite ease-in;
}

.l_square span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.l_square span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.l_square span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes animsquare1 {
  0%, 5%, 95%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  30%, 70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare1 {
  0%, 5%, 95%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  30%, 70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@-webkit-keyframes animsquare2 {
  0%, 10%, 90%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  35%, 65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare2 {
  0%, 10%, 90%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  35%, 65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@-webkit-keyframes animsquare3 {
  0%, 15%, 85%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  40%, 60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare3 {
  0%, 15%, 85%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  40%, 60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@-webkit-keyframes animsquare4 {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  45%, 55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare4 {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }

  45%, 55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

.done {
  opacity: 0;
  visibility: hidden;
}

header {
  position: relative;
  width: 100%;
}

.slider_bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.slider_bg-img .slick-list {
  overflow: hidden;
  height: 100%;
}

.slider_bg-img .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-webp .slider_bg-img::after {
  background: url(../img/shadow-bg-header.png) no-repeat center center/100% 100%; }

.slider_bg-img::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.slider-bg_item {
  background-attachment: fixed !important;
  height: 450px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

nav .logo {
  display: block;
  width: 100px;
  margin-right: 70px;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

.fixed {
  background: rgba(15, 15, 15, 0.3);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
}

.header_menu .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  position: relative;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 52px;
}

.active-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -10%;
  height: 1px;
  width: 120%;
  background: #fff;
}

/* search start */

.search {
  position: relative;
  width: 150px;
}

.magnifying-glass {
  position: relative;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.search.active .magnifying-glass {
  -webkit-transform: translateX(-7%);
      -ms-transform: translateX(-7%);
          transform: translateX(-7%);
}

.magnifying-glass-path {
  fill: none;
  stroke-dasharray: 210 808;
  stroke-linecap: round;
  stroke-width: 6;
  stroke: white;
  -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
  -o-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
}

.search.active .magnifying-glass-path {
  stroke-dasharray: 580 808;
  stroke-dashoffset: -224px;
}

.x {
  fill: none;
  stroke-dasharray: 56 92;
  stroke-dashoffset: -92px;
  stroke-linecap: round;
  stroke-width: 6;
  stroke: white;
  -webkit-transition: stroke-dashoffset 500ms;
  -o-transition: stroke-dashoffset 500ms;
  transition: stroke-dashoffset 500ms;
  visibility: hidden;
}

.search.active .x {
  visibility: visible;
}

.search.searching .x {
  stroke-dashoffset: 0;
}

.input {
  color: white;
  background: none;
  border: 0;
  font-size: 0.8em;
  left: 0px;
  outline: 0 !important;
  position: absolute;
  top: 4px;
  width: 100%;
  padding: 0 0 0 10px;
}

.overlay {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  -webkit-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}

.overlay-1 {
  height: 34px;
  left: 55px;
  top: -5px;
  width: 34px;
}

.overlay-2 {
  height: 15px;
  left: 122px;
  top: 0;
  width: 15px;
}

.overlay:hover {
  background: rgba(0, 0, 0, 0.08);
}

.search.active .overlay-1 {
  visibility: hidden;
}

.search:not(.active) .overlay-2,
.search:not(.searching) .overlay-2 {
  visibility: hidden;
}

.search-results {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 7px;
  background: #4a4a4a;
  z-index: 1030;
}

.search-poster {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-poster img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-poster .content {
  margin-left: 5px;
  width: 70%;
}

.search-poster .content h2 {
  white-space: nowrap;
  font-size: 11px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.search-poster .content p {
  font-size: 10px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/* search end */

.site-header_user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  margin-right: 23px;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: silver;
}

.user-down_btn {
  font-size: 15px;
  margin-left: 13px;
}

.header-mobi_menu,
.header-mobi-icon_menu {
  display: none;
}

.header-mobi-icon_menu {
  position: relative;
  z-index: 1012;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mobi_menu {
  width: 80%;
  height: 100vh;
  background: #262626;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 1010;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 120px;
  min-height: 0;
}

.header-content .slick-list {
  overflow: hidden;
}

.header-content .slick-track {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-head {
  font-family: "Joker", sans-serif;
  text-transform: uppercase;
  font-size: 200px;
  letter-spacing: 9px;
  line-height: 150px;
  margin-bottom: 20px;
}

.rating-stars {
  margin-right: 28px;
}

.stars-item {
  color: #ffde00;
  font-size: 22px;
  margin-right: 8px;
}

.stars-item:last-child {
  margin-right: 0;
}

.genre-item {
  white-space: pre;
  font-size: 17px;
}

.time {
  display: block;
  font-size: 12px;
  color: #9a9a9a;
  margin-top: 15px;
  margin-bottom: 20px;
}

.header-desc {
  width: 100%;
  max-width: 528px;
  font-size: 17px;
  line-clamp: 4;
}

.header-btn {
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 66px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 23px 100px;
  border: 3px solid #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header-btn:hover {
  color: black;
  background: #fff;
}

.header-slider .slider-poster {
  position: relative;
  height: 200px;
}

.header-slider .slider-poster img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-slider .slider-poster .play:hover {
  opacity: 0;
}

.header-slider .slick-slide {
  margin-right: 73px;
}

.header-slider .slick-current {
  position: relative;
}

.header-slider .slick-current .play,
.header-slider .slick-current .play:hover {
  opacity: 1;
}

.header-slider .slick-list {
  overflow-x: hidden;
  padding-top: 11px;
  margin-bottom: 20px;
}

.header-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-head {
  color: #727272;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 20%;
  font-size: 5em;
  width: 450px;
}

main {
  margin-top: 80px;
}

.banner {
  margin: 0 auto;
  width: 95%;
  height: 150px;
}

.banner img {
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-head {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-head span {
  margin-right: 10px;
}

.gallery-head i {
  font-size: 23px;
}

.desc-gallery {
  color: silver;
  font-size: 12px;
  margin-bottom: 10px;
}

.posters {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 50px;
}

.posters .slick-list {
  overflow: hidden;
}

.posters .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posters .slick-slide {
  margin-right: 20px;
}

.posters .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.posters .slick-prev {
  left: 0;
  background: url(../img/icon/angle-left-solid.svg) no-repeat 0 0/100%;
}

.posters .slick-next {
  right: 0;
  background: url(../img/icon/angle-right-solid.svg) no-repeat 0 0/100%;
}

.filter-poster_block {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.filter-poster_block .categories {
  margin-top: 5px;
  font-size: 9px;
  margin-bottom: 4px;
}

.filter-poster_block .categories li {
  white-space: pre;
  color: silver;
}

.filter-poster_block a {
  position: relative;
}

.filter-poster_block img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 146, 190, 0.3);
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.play:hover {
  opacity: 1;
}

.format-quality {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.format-quality li {
  font-size: 10px;
  background: #7a9cac;
  padding: 5px;
  margin-right: 5px;
}

footer {
  width: 100%;
  background: #1d1d1d;
  text-align: center;
  padding: 25px 0;
  font-size: 12px;
}

.btn-up {
  position: fixed;
  background: #6a889c;
  padding: 10px;
  right: 15px;
  bottom: -100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@media (max-width: 1630px) {
  .menu-item {
    margin-right: 30px;
  }
}

@media (max-width: 1600px) {
  .header-head {
    font-size: 200px;
  }

  .header-slider .slick-slide {
    margin-right: 40px;
  }
}

@media (max-width: 1500px) {
  .menu-item {
    font-size: 13px;
  }

  .site-header_user {
    margin-right: 10px;
    margin-left: 15px;
  }

  .profile-img {
    width: 20px;
    height: 20px;
  }

  .user-down_btn {
    font-size: 11px;
    margin-left: 5px;
  }

  .header-content {
    margin-top: 50px;
  }

  .header-head {
    font-size: 100px;
    line-height: 70px;
    margin-bottom: 7px;
  }

  .rating-stars {
    margin-right: 15px;
  }

  .stars-item {
    font-size: 15px;
    margin-right: 5px;
  }

  .genre-item {
    font-size: 12px;
  }

  .time {
    margin-top: 3px;
    margin-bottom: 10px;
  }

  .header-desc {
    font-size: 12px;
  }

  .header-btn {
    font-size: 12px;
    padding: 10px 50px;
    margin-top: 20px;
    border-width: 2px;
  }

  .header-slider .slider-poster {
    height: 100px;
  }
}

@media (max-width: 1000px) {
  .header_menu {
    display: none;
  }

  .header-mobi_menu,
  .header-mobi-icon_menu {
    display: block;
  }

  .header-desc {
    max-width: 400px;
  }
}

@media (max-width: 900px) {
  .header-slider .slick-slide {
    margin-right: 20px;
  }
}

@media (max-width: 512px) {
  .container {
    padding: 0 20px;
  }

  nav .logo {
    width: 120px;
  }

  .header-content {
    margin-top: 20px;
  }

  .header-head {
    font-size: 50px;
    letter-spacing: 3px;
  }

  .header-btn {
    margin-bottom: 30px;
  }
}

@media (max-width: 411px) {
  .format-quality li {
    padding: 3px;
    font-size: 6px;
  }
}

@media (max-width: 364px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 315px) {
  .genre {
    margin: 5px 0;
  }
}

.webp .slider_bg-img::after { background: url(../img/shadow-bg-header.webp) no-repeat center center/100% 100%; }